*{
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
.backgound{
  background: url("https://i.postimg.cc/RC8D4LVJ/bg-p.png") no-repeat;
  width: 650px;
  height: 284px;
  background-size: cover;
  background-position: center;
}
.signature{
  width: 640px;
  height: 284px;
}
.content{
  height: 74%;
  background: transparent;
}

.upperContent{
  display: flex;
  justify-content: center;
}
.white{
  color: white;
}